.text-link {
  background-color: transparent;
  border: none;
  color: rgb(var(--purple-text));
  font-size: 1.05rem;
  letter-spacing: 0.1rem;
  padding-left: 1px;
  margin-right: -5px;
}

.text-link:hover {
  background-image: linear-gradient(
    to right,
    currentColor 100%,
    transparent 0%
  );
  background-position: -0.4rem 1.25rem;
  background-repeat: no-repeat;
  background-size: 100% 1.9px;
}

a {
  color: rgb(var(--purple-0));
  text-decoration: none;
}

button {
  background-image: linear-gradient(
    rgb(var(--purple-3)),
    rgb(var(--purple-4)),
    rgb(var(--purple-3))
  );
  border-radius: 10px;
  color: rgb(var(--white));
  font-size: 0.9rem;
  letter-spacing: inherit;
  padding: 5px 7px;
  margin-left: -55px;
  white-space: nowrap;
}
