.main-page {
  background: url("./images/ZL-Sample\ Desk.png") -77px 0px no-repeat;
  background-size: 1425px;
  height: 800px;
  overflow: hidden;
  width: 1285px;
}

footer {
  margin-top: 370px;
}

.main-page p {
  color: white;
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: 0.13rem;
  position: absolute;
  top: 573px;
  left: 72px;
  width: 615px;
}

footer img {
  margin-left: -4px;
  margin-top: 9px;
  width: 1295px;
}
