body {
  background: url("/images/ZL-Sample\ Desk.png") -77px 0px no-repeat;
  background-size: 1425px;
}

.main-page {
  height: 800px;
  overflow: hidden;
  width: 1285px;
}

footer {
  margin-top: 370px;
}

footer p {
  position: absolute;
  top: 573px;
  left: 72px;
  width: 600px;
}

p {
  color: rgb(var(--white));
  font-size: 3rem;
  line-height: 1.1;
}

footer img {
  margin-left: -4px;
  margin-top: 9px;
  width: 1295px;
}
